# Build and distribution folders for .exe creation #
build/
dist/

# Cached Python and venv directories*
__pycache__/
env/
venv/
.idea/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.so

# Data file types #
*.csv

# Other random unwanted extensions
*.spec

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip